 body {  
    background-color: rgb(255, 252, 239); /*color de fondo del body*/  
} 

/* BARRA DE NAV. */
.container-fluid{
    background-color: rgb(133, 2, 33);
}

.container-fluid a{
    color: white;
    font-size: 18px;
}
